[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "imgpalr"]
	path = imgpalr
	url = https://github.com/leonawicz/imgpalr
[submodule "lcars"]
	path = lcars
	url = https://github.com/leonawicz/lcars
[submodule "legocolors"]
	path = legocolors
	url = https://github.com/leonawicz/legocolors
[submodule "memery"]
	path = memery
	url = https://github.com/leonawicz/memery
[submodule "rtrek"]
	path = rtrek
	url = https://github.com/leonawicz/rtrek
[submodule "tabr"]
	path = tabr
	url = https://github.com/leonawicz/tabr
[submodule "trekcolors"]
	path = trekcolors
	url = https://github.com/leonawicz/trekcolors
[submodule "trekfont"]
	path = trekfont
	url = https://github.com/leonawicz/trekfont
